[submodule "code/containers"]
	path = code/containers
	url = https://github.com/ReproNim/containers.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = https://github.com/OpenNeuroDatasets/ds000001.git
	datalad-id = 7cce28be-8703-11e8-bf98-0242ac120023
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds000001
[submodule "code/tacc-openneuro"]
	path = code/tacc-openneuro
	url = https://github.com/poldracklab/tacc-openneuro.git
